@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Light */
  :root {
    --color-white: 255 255 255;
    --color-black: 19 17 26;

    --color-blue-100: 242 248 255;
    --color-blue-200: 214 237 255;
    --color-blue-600: 185 226 255;
    --color-blue-400: 129 197 255;
    --color-blue-700: 76 171 255;
    --color-blue-600: 23 146 255;
    --color-blue-700: 13 110 204;
    --color-blue-800: 5 77 154;
    --color-blue-900: 0 48 102;

    --color-gray-100: 246 245 250;
    --color-gray-200: 222 221 228;
    --color-gray-300: 198 196 206;
    --color-gray-400: 174 172 184;
    --color-gray-500: 150 147 162;
    --color-gray-600: 103 99 118;
    --color-gray-700: 79 74 96;
    --color-gray-800: 55 50 74;
    --color-gray-900: 29 26 39;

    --color-red-100: 255 242 246;
    --color-red-200: 255 218 230;
    --color-red-300: 255 191 213;
    --color-red-400: 255 139 175;
    --color-red-500: 255 89 138;
    --color-red-600: 255 40 102;
    --color-red-700: 204 21 74;
    --color-red-800: 153 8 49;
    --color-red-900: 102 0 29;

    --color-green-100: 242 255 253;
    --color-green-200: 203 247 240;
    --color-green-300: 166 239 227;
    --color-green-400: 110 220 201;
    --color-green-500: 61 201 177;
    --color-green-600: 20 182 154;
    --color-green-700: 11 155 131;
    --color-green-800: 5 129 108;
    --color-green-900: 0 102 85;

    --color-yellow-100: 255 251 242;
    --color-yellow-200: 255 244 209;
    --color-yellow-300: 255 237 175;
    --color-yellow-400: 255 214 115;
    --color-yellow-500: 255 192 56;
    --color-yellow-600: 255 171 0;
    --color-yellow-700: 204 137 0;
    --color-yellow-800: 153 102 0;
    --color-yellow-900: 102 68 0;

    --color-purple-100: 249 242 255;
    --color-purple-200: 233 220 255;
    --color-purple-300: 218 197 255;
    --color-purple-400: 138 148 255;
    --color-purple-500: 150 101 253;
    --color-purple-600: 113 64 215;
    --color-purple-700: 81 35 178;
    --color-purple-800: 54 14 140;
    --color-purple-900: 32 0 102;

    --color-orange-100: 255 245 242;
    --color-orange-200: 255 228 218;
    --color-orange-300: 255 210 191;
    --color-orange-400: 255 169 139;
    --color-orange-500: 255 130 89;
    --color-orange-600: 255 92 40;
    --color-orange-700: 204 74 21;
    --color-orange-800: 153 57 8;
    --color-orange-900: 102 39 0;

    --color-teal-100: 242 255 255;
    --color-teal-200: 214 255 255;
    --color-teal-300: 186 255 255;
    --color-teal-400: 137 251 255;
    --color-teal-500: 88 246 255;
    --color-teal-600: 40 242 255;
    --color-teal-700: 25 222 235;
    --color-teal-800: 11 203 216;
    --color-teal-900: 0 183 196;

    --color-primary-light: var(--color-blue-600);
    --color-primary-dark: var(--color-blue-700);
    --color-primary-gray: var(--color-gray-700);
    --color-secondary-gray: var(--color-gray-800);

    --color-input-primary: var(--color-gray-300);
    --color-input-focused: var(--color-gray-400);

    --color-text-primary: var(--color-white);
    --color-text-primary-muted: var(--color-gray-400);

    --color-text-secondary: var(--color-primary-light);
    --color-text-secondary-muted: var(--color-gray-400);

    --color-text-subtle: var(--color-gray-600);
    --color-text-subtle-muted: var(--color-gray-600);

    --color-text-inverted: var(--color-primary-light);
    --color-text-inverted-muted: var(--color-gray-400);
    --color-text-inverted-inverted: var(--color-gray-600);

    --color-fill-primary: var(--color-primary-light);
    --color-fill-primary-muted: var(--color-gray-500);

    --color-fill-secondary: var(--color-white);
    --color-fill-secondary-muted: var(--color-white);

    --color-fill-subtle: var(--color-gray-500);
    --color-fill-subtle-muted: var(--color-gray-500);
    --color-fill-subtle-inverted: var(--color-gray-900);

    --color-fill-transparent: transparent;
    --color-fill-transparent-muted: transparent;

    --color-fill-inverted: var(--color-white);
    --color-fill-inverted-muted: var(--color-white);

    --nds-core-solid-white: #FFFFFF;
    --nds-core-solid-black: #13111A;
    --nds-core-solid-gray-100: #F6F5FA;
    --nds-core-solid-gray-200: #DEDDE4;
    --nds-core-solid-gray-300: #C6C4CE;
    --nds-core-solid-gray-400: #AEACB8;
    --nds-core-solid-gray-500: #9693A2;
    --nds-core-solid-gray-600: #676376;
    --nds-core-solid-gray-700: #4F4A60;
    --nds-core-solid-gray-800: #37324A;
    --nds-core-solid-gray-900: #1D1A27;
    --nds-core-solid-blue-100: #F2F8FF;
    --nds-core-solid-blue-200: #D6EDFF;
    --nds-core-solid-blue-300: #B9E2FF;
    --nds-core-solid-blue-400: #81C5FF;
    --nds-core-solid-blue-500: #4CABFF;
    --nds-core-solid-blue-600: #1792FF;
    --nds-core-solid-blue-700: #0D6ECC;
    --nds-core-solid-blue-800: #054D99;
    --nds-core-solid-blue-900: #003066;
    --nds-core-solid-red-100: #FFF2F6;
    --nds-core-solid-red-200: #FFDAE6;
    --nds-core-solid-red-300: #FFBFD5;
    --nds-core-solid-red-400: #FF8BAF;
    --nds-core-solid-red-500: #FF598A;
    --nds-core-solid-red-600: #FF2866;
    --nds-core-solid-red-700: #CC154A;
    --nds-core-solid-red-800: #990831;
    --nds-core-solid-red-900: #66001D;
    --nds-core-solid-yellow-100: #FFFBF2;
    --nds-core-solid-yellow-200: #FFF4D1;
    --nds-core-solid-yellow-300: #FFEDAF;
    --nds-core-solid-yellow-400: #FFD673;
    --nds-core-solid-yellow-500: #FFC038;
    --nds-core-solid-yellow-600: #FFAB00;
    --nds-core-solid-yellow-700: #CC8900;
    --nds-core-solid-yellow-800: #996600;
    --nds-core-solid-yellow-900: #664400;
    --nds-core-solid-green-100: #F2FFFD;
    --nds-core-solid-green-200: #CBF7F0;
    --nds-core-solid-green-300: #A6EFE3;
    --nds-core-solid-green-400: #6EDCC9;
    --nds-core-solid-green-500: #3DC9B1;
    --nds-core-solid-green-600: #14B69A;
    --nds-core-solid-green-700: #0B9B83;
    --nds-core-solid-green-800: #05816C;
    --nds-core-solid-green-900: #006655;
    --nds-core-solid-purple-100: #F6F2FF;
    --nds-core-solid-purple-200: #E9DCFF;
    --nds-core-solid-purple-300: #DAC5FF;
    --nds-core-solid-purple-400: #B794FF;
    --nds-core-solid-purple-500: #9665FD;
    --nds-core-solid-purple-600: #7140D7;
    --nds-core-solid-purple-700: #5123B2;
    --nds-core-solid-purple-800: #360E8C;
    --nds-core-solid-purple-900: #200066;
    --nds-core-solid-orange-100: #FFF5F2;
    --nds-core-solid-orange-200: #FFE4DA;
    --nds-core-solid-orange-300: #FFD2BF;
    --nds-core-solid-orange-400: #FFA98B;
    --nds-core-solid-orange-500: #FF8259;
    --nds-core-solid-orange-600: #FF5C28;
    --nds-core-solid-orange-700: #CC4A15;
    --nds-core-solid-orange-800: #993908;
    --nds-core-solid-orange-900: #662700;
    --nds-core-solid-teal-100: #F2FEFF;
    --nds-core-solid-teal-200: #D6FFFF;
    --nds-core-solid-teal-300: #BAFFFF;
    --nds-core-solid-teal-400: #89FBFF;
    --nds-core-solid-teal-500: #58F6FF;
    --nds-core-solid-teal-600: #28F2FF;
    --nds-core-solid-teal-700: #19DEEB;
    --nds-core-solid-teal-800: #0BCBD8;
    --nds-core-solid-teal-900: #00B7C4;
    --nds-core-transparent-white-05: rgba(255, 255, 255, 0.05);
    --nds-core-transparent-white-10: rgba(255, 255, 255, 0.1);
    --nds-core-transparent-white-30: rgba(255, 255, 255, 0.3);
    --nds-core-transparent-white-50: rgba(255, 255, 255, 0.5);
    --nds-core-transparent-white-70: rgba(255, 255, 255, 0.7);
    --nds-core-transparent-white-80: rgba(255, 255, 255, 0.8);
    --nds-core-transparent-white-95: rgba(255, 255, 255, 0.95);
    --nds-core-transparent-gray-300-50: rgba(198, 196, 206, 0.5);
    --nds-core-transparent-gray-400-50: rgba(174, 172, 184, 0.5);
    --nds-core-transparent-gray-600-10: rgba(103, 99, 118, 0.1);
    --nds-core-transparent-gray-600-50: rgba(103, 99, 118, 0.5);
    --nds-core-transparent-gray-900-05: rgba(29, 26, 39, 0.05);
    --nds-core-transparent-gray-900-10: rgba(29, 26, 39, 0.1);
    --nds-core-transparent-gray-900-15: rgba(29, 26, 39, 0.15);
    --nds-core-transparent-gray-900-50: rgba(29, 26, 39, 0.5);
    --nds-core-transparent-blue-600-50: rgba(23, 146, 255, 0.5);
    --nds-core-transparent-blue-700-10: rgba(13, 110, 204, 0.1);
    --nds-core-transparent-blue-700-20: rgba(13, 110, 204, 0.2);
    --nds-core-gradient-linear-white-40: linear-gradient(309.14deg, rgba(255, 255, 255, 0.4) -0.7%, rgba(255, 255, 255, 0) 30.55%, rgba(255, 255, 255, 0) 70.97%, rgba(255, 255, 255, 0.4) 99.23%);
    --nds-core-gradient-linear-white.50: linear-gradient(309.14deg, rgba(255, 255, 255, 0.5) -0.7%, rgba(255, 255, 255, 0) 30.55%, rgba(255, 255, 255, 0) 70.97%, rgba(255, 255, 255, 0.5) 99.23%);
    --nds-core-gradient-linear-white.70: linear-gradient(217.32deg, #FCFCFD -0.01%, #FFFFFF 0%, #FFFFFF 44.78%, rgba(255, 255, 255, 0.7) 100%);
    --nds-core-gradient-linear-gray: linear-gradient(140deg, #4F4A60 15.72%, #37324A 51.5%, #1D1A27 85.49%);
    --nds-core-gradient-linear-blue: linear-gradient(146deg, #1792FF 13.98%, #0053B5 86.02%);
    --nds-core-gradient-linear-red: linear-gradient(138.98deg, #FF2866 -15.44%, #CC154A 48.17%, #990831 113.1%);
    --nds-core-gradient-linear-green: linear-gradient(144deg, #14B69A 13.65%, #0B9B83 56.97%, #05816C 99.48%);
    --nds-core-gradient-linear-purple: linear-gradient(143.43deg, #9665FD 11.19%, #5123B2 100%);
    --nds-core-gradient-linear-orange: linear-gradient(141.98deg, #FF5C28 5.48%, #993908 89.54%);
    --nds-core-gradient-linear-teal: linear-gradient(133deg, #19DEEB 16.17%, #0BCBD8 35.11%, #00B7C4 84.96%);

    --nds-semantic-color-brand-primary: #1792FF;
    --nds-semantic-color-brand-secondary: #FFFFFF;
    --nds-semantic-color-brand-tertiary: #1D1A27;
    --nds-semantic-color-bg: rgba(255, 255, 255, 0.95);
    --nds-semantic-color-bg-secondary: #FFFFFF;
    --nds-semantic-color-bg-accent: linear-gradient(146deg, #1792FF 13.98%, #0053B5 86.02%);
    --nds-semantic-color-surface-default: #FFFFFF;
    --nds-semantic-color-surface-default-hover: #F2F8FF;
    --nds-semantic-color-surface-default-selected: #0D6ECC;
    --nds-semantic-color-surface-button-primary: #0D6ECC;
    --nds-semantic-color-surface-button-primary-hovered: linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
    --nds-semantic-color-surface-button-primary-inactive: #676376;
    --nds-semantic-color-surface-button-primary-disabled: #4F4A60;
    --nds-semantic-color-surface-button-highlight: linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
    --nds-semantic-color-surface-button-highlight-hovered: linear-gradient(148.17deg, rgba(255, 255, 255, 0) 14.94%, rgba(255, 255, 255, 0.15) 46.01%, rgba(255, 255, 255, 0) 82.06%), linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
    --nds-semantic-color-surface-button-highlight-disabled: #4F4A60;
    --nds-semantic-color-surface-button-critical: #CC154A;
    --nds-semantic-color-surface-button-critical-hovered: linear-gradient(138.98deg, #FF2866 -15.44%, #CC154A 48.17%, #990831 113.1%);
    --nds-semantic-color-surface-button-critical-disabled: #4F4A60;
    --nds-semantic-color-surface-button-outlined-hovered: linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
    --nds-semantic-color-surface-button-neutral: #FFFFFF;
    --nds-semantic-color-surface-button-neutral-hovered: #FFFFFF;
    --nds-semantic-color-surface-button-neutral-disabled: #FFFFFF;
    --nds-semantic-color-surface-button-subtle: rgba(29, 26, 39, 0.1);
    --nds-semantic-color-surface-button-subtle-hovered: #4F4A60;
    --nds-semantic-color-surface-button-subtle-disabled: rgba(29, 26, 39, 0.1);
    --nds-semantic-color-surface-illustration: rgba(255, 255, 255, 0.1);
    --nds-semantic-color-surface-tag: #05816C;
    --nds-semantic-color-surface-critical: #CC154A;
    --nds-semantic-color-surface-success: #05816C;
    --nds-semantic-color-surface-progress: #0D6ECC;
    --nds-semantic-color-surface-decorative-basic: linear-gradient(140deg, #4F4A60 15.72%, #37324A 51.5%, #1D1A27 85.49%);
    --nds-semantic-color-surface-decorative-success: linear-gradient(144deg, #14B69A 13.65%, #0B9B83 56.97%, #05816C 99.48%);
    --nds-semantic-color-surface-decorative-1: linear-gradient(143.43deg, #9665FD 11.19%, #5123B2 100%);
    --nds-semantic-color-surface-decorative-2: linear-gradient(141.98deg, #FF5C28 5.48%, #993908 89.54%);
    --nds-semantic-color-surface-decorative-3: linear-gradient(133deg, #19DEEB 16.17%, #0BCBD8 35.11%, #00B7C4 84.96%);
    --nds-semantic-color-surface-ghost-heavy: rgba(198, 196, 206, 0.5);
    --nds-semantic-color-surface-ghost-medium: rgba(198, 196, 206, 0.5);
    --nds-semantic-color-surface-ghost-light: rgba(255, 255, 255, 0.5);
    --nds-semantic-color-on-button-primary: rgba(255, 255, 255, 0.1);
    --nds-semantic-color-on-button-primary-hovered: #FFFFFF;
    --nds-semantic-color-on-button-primary-inactive: #FFFFFF;
    --nds-semantic-color-on-button-primary-disabled: #AEACB8;
    --nds-semantic-color-on-button-highlight: #FFFFFF;
    --nds-semantic-color-on-button-highlight-hovered: #FFFFFF;
    --nds-semantic-color-on-button-highlight-disabled: #AEACB8;
    --nds-semantic-color-on-button-critical: #FFFFFF;
    --nds-semantic-color-on-button-critical-hovered: #FFFFFF;
    --nds-semantic-color-on-button-critical-disabled: #AEACB8;
    --nds-semantic-color-on-button-success: #FFFFFF;
    --nds-semantic-color-on-button-outlined: #0D6ECC;
    --nds-semantic-color-on-button-outlined-hovered: #FFFFFF;
    --nds-semantic-color-on-button-outlined-disabled: #676376;
    --nds-semantic-color-on-button-neutral: #4F4A60;
    --nds-semantic-color-on-button-neutral-hovered: #0D6ECC;
    --nds-semantic-color-on-button-neutral-disabled: #AEACB8;
    --nds-semantic-color-on-button-subtle: #4F4A60;
    --nds-semantic-color-on-button-subtle-hovered: #FFFFFF;
    --nds-semantic-color-on-button-subtle-disabled: #4F4A60;
    --nds-semantic-color-on-button-transparent: #0D6ECC;
    --nds-semantic-color-on-button-transparent-hovered: #054D99;
    --nds-semantic-color-on-button-transparent-disabled: #676376;
    --nds-semantic-color-on-critical: #FFFFFF;
    --nds-semantic-color-on-success: #FFFFFF;
    --nds-semantic-color-on-progress: #0D6ECC;
    --nds-semantic-color-on-decorative: #FFFFFF;
    --nds-semantic-color-on-ghost: #676376;
    --nds-semantic-color-text: #37324A;
    --nds-semantic-color-text-emphasis: #1D1A27;
    --nds-semantic-color-text-subdued: #676376;
    --nds-semantic-color-text-placeholder: #9693A2;
    --nds-semantic-color-text-critical: #CC154A;
    --nds-semantic-color-text-success: #05816C;
    --nds-semantic-color-text-warning: #996600;
    --nds-semantic-color-icon: #4F4A60;
    --nds-semantic-color-icon-subtle: #9693A2;
    --nds-semantic-color-icon-active: #0D6ECC;
    --nds-semantic-color-icon-inactive: #676376;
    --nds-semantic-color-icon-critical: #CC154A;
    --nds-semantic-color-icon-success: #05816C;
    --nds-semantic-color-icon-warning: #996600;
    --nds-semantic-color-icon-progress: #0D6ECC;
    --nds-semantic-color-icon-illustration: #4F4A60;
    --nds-semantic-color-border-highlight: linear-gradient(309.14deg, rgba(255, 255, 255, 0.4) -0.7%, rgba(255, 255, 255, 0) 30.55%, rgba(255, 255, 255, 0) 70.97%, rgba(255, 255, 255, 0.4) 99.23%);
    --nds-semantic-color-border-highlight-hovered: linear-gradient(50.19deg, rgba(255, 255, 255, 0.4) -2.49%, rgba(255, 255, 255, 0) 29.57%, rgba(255, 255, 255, 0) 71.02%, rgba(255, 255, 255, 0.4) 100%);
    --nds-semantic-color-border-outlined: #0D6ECC;
    --nds-semantic-color-border-outlined-disabled: #4F4A60;
    --nds-semantic-color-border-input: #AEACB8;
    --nds-semantic-color-border-input-selected: #1792FF;
    --nds-semantic-color-border-critical: #CC154A;
    --nds-semantic-color-border-success: #05816C;
    --nds-semantic-color-border-warning: #996600;
    --nds-semantic-color-border-decorative: #FFFFFF;
    --nds-semantic-color-border-alert: #676376;
    --nds-semantic-color-border-menu: #F6F5FA;
    --nds-semantic-color-border-illustration: rgba(255, 255, 255, 0.3);
  }

  [data-theme="nebula-dark-blue"] {
    --color-primary-light: var(--color-blue-600);
    --color-primary-dark: var(--color-blue-700);
    --color-primary-gray: var(--color-gray-700);
    --color-secondary-gray: var(--color-gray-800);

    --color-input-primary: var(--color-white);
    --color-input-focused: var(--color-white);

    --color-text-primary: var(--color-primary-dark);
    --color-text-primary-muted: var(--color-primary-dark);

    --color-text-secondary: var(--color-white);
    --color-text-secondary-muted: var(--color-white);

    --color-text-subtle: var(--color-white);
    --color-text-subtle-muted: var(--color-white);
    --color-text-subtle-inverted: var(--color-white);

    --color-text-inverted: var(--color-white);
    --color-text-inverted-muted: var(--color-white);

    --color-fill-primary: var(--color-white);
    --color-fill-primary-muted: var(--color-white);

    --color-fill-secondary: var(--color-white);
    --color-fill-secondary-muted: var(--color-white);

    --color-fill-subtle: var(--color-secondary-gray);
    --color-fill-subtle-muted: var(--color-secondary-gray);
    --color-fill-subtle-inverted: var(--color-white);

    --color-fill-transparent: transparent;
    --color-fill-transparent-muted: transparent;

    --color-fill-inverted: var(--color-primary-dark);
    --color-fill-inverted-muted: var(--color-primary-dark);

    --nds-semantic-color-brand-bg: linear-gradient(140deg, #4F4A60 15.72%, #37324A 51.5%, #1D1A27 85.49%);
    --nds-semantic-color-brand-bg-accent: linear-gradient(146deg, #1792FF 13.98%, #0053B5 86.02%);
    --nds-semantic-color-surface-default: #1D1A27;
    --nds-semantic-color-surface-default-hover: rgba(255, 255, 255, 0.1);
    --nds-semantic-color-surface-default-selected: #0D6ECC;
    --nds-semantic-color-surface-button-outlined-hovered: linear-gradient(150.31deg, #1792FF 9.54%, #0053B5 97.47%);
    --nds-semantic-color-surface-button-subtle: rgba(255, 255, 255, 0.1);
    --nds-semantic-color-surface-button-subtle-hovered: #FFFFFF;
    --nds-semantic-color-surface-button-subtle-disabled: rgba(255, 255, 255, 0.1);
    --nds-semantic-color-surface-input-selected: rgba(29, 26, 39, 0.1);
    --nds-semantic-color-surface-critical: #FF8BAF;
    --nds-semantic-color-surface-progress: #81C5FF;
    --nds-semantic-color-on-button-outlined: #81C5FF;
    --nds-semantic-color-on-button-outlined-hovered: #FFFFFF;
    --nds-semantic-color-on-button-outlined-disabled: #9693A2;
    --nds-semantic-color-on-button-subtle: #F6F5FA;
    --nds-semantic-color-on-button-subtle-hovered: #0D6ECC;
    --nds-semantic-color-on-button-subtle-disabled: #F6F5FA;
    --nds-semantic-color-on-button-transparent: #81C5FF;
    --nds-semantic-color-on-button-transparent-hovered: #B9E2FF;
    --nds-semantic-color-on-button-transparent-disabled: #9693A2;
    --nds-semantic-color-on-critical: #1D1A27;
    --nds-semantic-color-on-progress: #1D1A27;
    --nds-semantic-color-text: rgba(255, 255, 255, 0.95);
    --nds-semantic-color-text-emphasis: #FFFFFF;
    --nds-semantic-color-text-subdued: rgba(255, 255, 255, 0.8);
    --nds-semantic-color-text-placeholder: rgba(255, 255, 255, 0.5);
    --nds-semantic-color-text-critical: #FF8BAF;
    --nds-semantic-color-text-success: #14B69A;
    --nds-semantic-color-icon-basic: rgba(255, 255, 255, 0.8);
    --nds-semantic-color-icon-subtle: rgba(255, 255, 255, 0.7);
    --nds-semantic-color-icon-critical: #FF8BAF;
    --nds-semantic-color-icon-progress: #81C5FF;
    --nds-semantic-color-icon-illustration: #FFFFFF;
    --nds-semantic-color-border-basic: #FFFFFF;
    --nds-semantic-color-border-basic-selected: #FFFFFF;
    --nds-semantic-color-border-outlined: #81C5FF;
    --nds-semantic-color-border-outlined-disabled: #676376;
    --nds-semantic-color-border-critical: #FF8BAF;
    --nds-semantic-color-border-alert: rgba(255, 255, 255, 0.8);
  }
}
