@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Light */
  :root {
    --color-text-base: theme('colors.white');
    --color-text-muted: theme('colors.neutrals7');
    --color-text-inverted: theme('colors.primaryLight.500');
    --color-fill: theme('colors.primaryLight.500');
    --color-inverted: theme('colors.white');
    --color-button-accent: theme('colors.primaryLight.500');
    --color-button-accent-hover: theme('colors.primaryLight.700');
    --color-button-muted: theme('colors.primaryLight.400');
  }

  [data-theme="dark"] {
    --color-text-base: theme('colors.white');
    --color-text-muted: theme('colors.neutrals7');
    --color-text-inverted: theme('colors.primaryDark.500');
    --color-fill: theme('colors.primaryDark.500');
    --color-inverted: theme('colors.white');
    --color-button-accent: theme('colors.primaryDark.500');
    --color-button-accent-hover: theme('colors.primaryDark.700');
    --color-button-muted: theme('colors.primaryDark.400');
  }

  [data-theme="secondary"] {
    --color-text-base: theme('colors.white');
    --color-text-muted: theme('colors.neutrals7');
    --color-text-inverted: theme('colors.secondary.500');
    --color-fill: theme('colors.secondary.500');
    --color-inverted: theme('colors.white');
    --color-button-accent: theme('colors.secondary.500');
    --color-button-accent-hover: theme('colors.secondary.700');
    --color-button-muted: theme('colors.secondary.400');
  }

  [data-theme="error"] {
    --color-text-base: theme('colors.white');
    --color-text-muted: theme('colors.neutrals7');
    --color-text-inverted: theme('colors.error.500');
    --color-fill: theme('colors.error.500');
    --color-inverted: theme('colors.white');
    --color-button-accent: theme('colors.error.500');
    --color-button-accent-hover: theme('colors.error.700');
    --color-button-muted: theme('colors.error.400');
  }

  [data-theme="success"] {
    --color-text-base: theme('colors.white');
    --color-text-muted: theme('colors.neutrals7');
    --color-text-inverted: theme('colors.success.500');
    --color-fill: theme('colors.success.500');
    --color-inverted: theme('colors.white');
    --color-button-accent: theme('colors.success.500');
    --color-button-accent-hover: theme('colors.success.700');
    --color-button-muted: theme('colors.success.400');
  }
}
