@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Light */
  :root {
    --color-text: theme('colors.white');
    --color-fill: theme('colors.blue.300');
    --color-fill-highlight: theme('colors.blue.300');
    --color-border: theme('colors.blue.300');
    --color-border-highlight: transparent;

    --color-text-muted: theme('colors.gray.400');
    --color-fill-muted: theme('colors.gray.500');
    --color-border-muted: theme('colors.gray.500');

    --color-text-secondary: theme('colors.blue.300');
    --color-fill-secondary: theme('colors.white');
    --color-border-secondary: theme('colors.blue.300');

    --color-text-secondary-muted: theme('colors.gray.400');
    --color-fill-secondary-muted: theme('colors.white');
    --color-border-secondary-muted: theme('colors.gray.400');
  }

  [data-theme="colored"] {
    --color-text: theme('colors.blue.500');
    --color-fill: theme('colors.white');
    --color-fill-highlight: theme('colors.blue.500');
    --color-border: theme('colors.white');
    --color-border-highlight: theme('colors.white');

    --color-text-muted: theme('colors.gray.100');
    --color-fill-muted: theme('colors.gray.200');
    --color-border-muted: theme('colors.gray.200');

    --color-text-secondary: theme('colors.white');
    --color-fill-secondary: theme('colors.blue.300');
    --color-border-secondary: theme('colors.white');

    --color-text-secondary-muted: theme('colors.gray.200');
    --color-fill-secondary-muted: theme('colors.white');
    --color-border-secondary-muted: theme('colors.gray.200');
  }
}
